{% extends "base.html" %}
{% load static i18n ui %}
{% block body_class %}overflow-x-hidden{% endblock %}
{% block body %}
<div class="min-h-full">
  {% include "partials/sidebar.html" %}
  <div class="lg:ps-64">
    {% include "partials/topbar.html" %}
    <main id="main" class="mx-auto w-full max-w-7xl px-4 pb-28 pt-6 sm:px-6 lg:px-8 lg:pb-12" {% block main_attrs %}{% endblock %}>
      {% include "partials/messages.html" %}
      {% block content %}{% endblock %}
    </main>
  </div>
  {% include "partials/bottom_nav.html" %}
</div>
{% include "partials/modals.html" %}
{% endblock %}
{% block scripts %}
<script src="{% static 'vendor/chart.umd.min.js' %}" defer></script>
<script src="{% static 'js/planner.js' %}" defer></script>
<script src="{% static 'js/challenges.js' %}" defer></script>
{% block page_scripts %}{% endblock %}
{% endblock %}
